In [20]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
import numpy as np
import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/AdityaT-19/ML-Lab/master/7/weather_forecast.csv")
data.head()

    Outlook Temperature Humidity   Windy Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Mild     High    Weak  Yes
4      Rain        Cool   Normal    Weak  Yes

In [8]:
# desired_rows= 1500
# data = pd.concat([data]*(desired_rows//len(data)),ignore_index=True)
# data.shape

(1498, 5)

In [21]:
for col in data.columns:
    data[col] = data[col].map({x : (i+1) for i,x in enumerate(data[col].unique()) })
data.head()

   Outlook  Temperature  Humidity  Windy  Play
0        1            1         1      1     1
1        1            1         1      2     1
2        2            1         1      1     2
3        3            2         1      1     2
4        3            3         2      1     2

In [22]:
X = data.drop('Play', axis=1).values
Y = data['Play'].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=32)

classifier = DecisionTreeClassifier(max_depth=3)
classifier.fit(X_train, Y_train)
print(tree.export_text(classifier,max_depth=3,feature_names=list(data.columns[:-1]),class_names=['No','Yes']))
print("Accuracy: ",classifier.score(X_test,Y_test))

|--- Outlook <= 1.50
|   |--- Humidity <= 1.50
|   |   |--- class: No
|   |--- Humidity >  1.50
|   |   |--- class: Yes
|--- Outlook >  1.50
|   |--- Temperature <= 2.50
|   |   |--- class: Yes
|   |--- Temperature >  2.50
|   |   |--- Outlook <= 2.50
|   |   |   |--- class: Yes
|   |   |--- Outlook >  2.50
|   |   |   |--- class: No

Accuracy:  0.6666666666666666