In [10]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
import numpy as np
import pandas as pd

data = pd.read_csv("weather_forecast.csv")
data.head()

    Outlook Temperature Humidity   Windy Play
0     Sunny         Hot     High    Weak   No
1     Sunny         Hot     High  Strong   No
2  Overcast         Hot     High    Weak  Yes
3      Rain        Mild     High    Weak  Yes
4      Rain        Cool   Normal    Weak  Yes

In [12]:
desired_rows= 1500
data = pd.concat([data]*(desired_rows//len(data)),ignore_index=True)
data.shape

(1498, 5)

In [13]:
for col in data.columns:
    data[col] = data[col].map({x : (i+1) for i,x in enumerate(data[col].unique()) })
data.head()

   Outlook  Temperature  Humidity  Windy  Play
0        1            1         1      1     1
1        1            1         1      2     1
2        2            1         1      1     2
3        3            2         1      1     2
4        3            3         2      1     2

In [14]:
X = data.drop('Play', axis=1).values
Y = data['Play'].values
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=32)

classifier = DecisionTreeClassifier(max_depth=10)
classifier.fit(X_train, Y_train)

classifier.score(X_test,Y_test)

C:\Users\PC\Anaconda3\lib\site-packages\sklearn\tree\tree.py:163: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  y_encoded = np.zeros(y.shape, dtype=np.int)

1.0