In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB as Classifier
from sklearn.datasets import load_iris
import warnings
warnings.filterwarnings("ignore")

In [34]:
def evaluate_naive_bayes(dataset,target_col,K_values):
    for K in K_values:
        x_train,x_test,y_train,y_test=train_test_split(dataset.drop(columns=[target_col]),dataset[target_col],test_size=(1-K/10),random_state=42)
        Clf=Classifier()
        Clf.fit(x_train.values,y_train.values)
        y_pred=Clf.predict(x_test.values)
        accuracy=accuracy_score(y_test,y_pred)
        print(f"Split {K*10}-{100-K*10} Accuracy:{accuracy:.2f}")

In [35]:
iris_data=pd.read_csv('iris.csv').drop(columns=["Id"])
titanic_data=pd.read_csv('titanic.csv')

In [36]:
titanic_data=titanic_data.drop(columns=['PassengerId','Name','Ticket','Cabin'])
titanic_data['Age'].fillna(titanic_data['Age'].median(),inplace=True)
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0],inplace=True)
titanic_data=pd.get_dummies(titanic_data,columns=['Sex','Embarked'])

In [45]:
iris_data.shape

(150, 5)

In [46]:
titanic_data.shape

(891, 11)

In [37]:
print("Iris Dataset Naive Bayes Classifier Results")
evaluate_naive_bayes(iris_data,'Species',[3,5,7,9])

Iris Dataset Naive Bayes Classifier Results
Split 30-70 Accuracy:0.94
Split 50-50 Accuracy:0.99
Split 70-30 Accuracy:0.98
Split 90-10 Accuracy:1.00

In [38]:
print("\nTitanic dataset Naive Bayes Classifier Results: ")
evaluate_naive_bayes(titanic_data,'Survived',[3,5,7,9])

Titanic dataset Naive Bayes Classifier Results:
Split 30-70 Accuracy:0.75
Split 50-50 Accuracy:0.78
Split 70-30 Accuracy:0.79
Split 90-10 Accuracy:0.79

In [43]:
import seaborn 
seaborn.load_dataset('titanic').head(6)
import seaborn 
seaborn.load_dataset('titanic').shape

(891, 15)

In [44]:
import seaborn 
seaborn.load_dataset('iris').head(6)
import seaborn 
seaborn.load_dataset('iris').shape

(150, 5)